# Etherscan API KEY for verification
ETHERSCAN_API_KEY=

# private key for deployment on networks
TESTNET_DEPLOYER=
MAINNET_DEPLOYER=
LOCAL_DEPLOYER=

# Blockchain network provider URI
BSC_MAINNET_PROVIDER=https://bsc-dataseed1.binance.org/
BSC_TESTNET_PROVIDER=https://data-seed-prebsc-2-s1.binance.org:8545